
@{
    ViewBag.Title = "CDN";
}

<h2>CDN</h2>
<div>
    <h2>from web server</h2>
    <img width="200" src="~/images/kids1.jpg" />
    <img width="200" src="~/images/kids2.jpg" />
</div>
<div>
    <h2>from CDN</h2>
    <img width="200" src="http://sweisfelcachedemo.azureedge.net/images/kids1.jpg" />
    <img width="200" src="http://sweisfelcachedemo.azureedge.net/images/kids2.jpg" />
</div>